{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archivo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archivo.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if archivo.fecha %}{{ archivo.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ archivo.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archivos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('archivos_edit', { 'id': archivo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
